body{
 height: 4000px;
 background-color: cyan;

}

.box{
 width: 100px;
 height: 100px;
 border: 1px solid black;
}


/* relative */
.boxOne{
 background-color: rgb(255, 132, 132);
 
 
 position: relative;
 top:120px;
 left: 150px;
 bottom: 50px;
}

/* Absolute */
.boxTwo{
 background-color: rgb(146, 138, 223);
 
 
 position: absolute;
 bottom: 50px;
 left: 50px;
}


/* Fixed */
.boxThree{
 background-color: rgb(89, 243, 141);


 position: fixed;
 bottom: 50px;
 right: 50px;
}


/* Sticky */
.boxFour{
 background-color: rgb(243, 89, 89);


 position: sticky;
 top: 0px;
}


/* Sticky Header */
header{
 height: 60px;
 width: 100%;
 background-color: burlywood;


 position: sticky;
 top:0px;
}



.bigger-box{
 border : 1px solid rgb(49, 49, 49);
 width: 50%;
 display: block;
 margin: auto;
 height: 900px;
 background-color:darkkhaki;
 position: relative;
}


.inner-box{
 background-color: darkorange;
 position: sticky;
 top: 0px;
}



.bigger-box-two{
    border : 1px solid rgb(49, 49, 49);
 width: 50%;
 display: block;
 margin: auto;
 height: 900px;
 background-color:rgb(231, 138, 126);
 position: relative;
}

.inner-box-two{
    background-color: rgb(81, 255, 0);
    position: absolute;
    right: 0px;
    bottom: 0px;
}